.about {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    color: black;
}

.paragraphs {
    text-align: justify;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 25px 0;
}

.paragraphs > p {
    font-size: 20px;
}

@media screen and (max-width: 720px) {
    .paragraphs {
        margin-top: 0;
        border-radius: 0;
    }
}